@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.work {
  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &--0 {
      @extend .work__image;
      background-image: url('../../images/redball.jpg');
    }
  }
  &__content {
    @include absolute;
    background: rgba(255, 255, 255, 0.7);
    padding: 32px;
  }
}
