@use './variables.scss' as *;
@use './mixins.scss' as *;

.buttons {
  width: 100%;
}

button,
.button {
  @include clear-btn;
  @include btn-base;
  border-bottom: 2px solid $black;
  padding: 0.25rem;
  &--list-link {
    @include clear-btn;
    text-decoration: none;
    background: transparent;
    text-align: left;
    overflow: hidden;
    transition: all 300ms;
    &:hover,
    &:focus {
      padding-bottom: 4rem;
    }
  }
}

// Hover Colors (set through js)
.hover {
  &:before {
    content: '';
    @include absolute;
    top: 100%;
    transition: all 300ms;
    z-index: -1;
  }
  &:hover,
  &:focus {
    &:before {
      top: 0;
    }
  }
  &--color0 {
    @extend .hover;
    &:before {
      background: $color0;
    }
  }
  &--color1 {
    @extend .hover;
    &:before {
      background: $color1;
    }
  }
  &--color2 {
    @extend .hover;
    &:before {
      background: $color2;
    }
  }
  &--color3 {
    @extend .hover;
    &:before {
      background: $color3;
    }
  }
  &--color4 {
    @extend .hover;
    &:before {
      background: $color4;
    }
  }
  &--color5 {
    @extend .hover;
    &:before {
      background: $color5;
    }
  }
  &--color6 {
    @extend .hover;
    &:before {
      background: $color6;
    }
  }
  &--color7 {
    @extend .hover;
    &:before {
      background: $color7;
    }
  }
  &--color8 {
    @extend .hover;
    &:before {
      background: $color8;
    }
  }
  &--color9 {
    @extend .hover;
    &:before {
      background: $color9;
    }
  }
}
