@use './variables.scss' as *;
@use './mixins.scss' as *;

// ********************* FLEX-GRID ********************** //
.flex-grid {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 32px;
  &__item {
    position: relative;
    flex: calc((100% / 3) - 32px);
    max-width: calc((100% / 3) - 32px);
    box-sizing: border-box;
    background: $white;
    border: $base-border;
  }
  &__figure {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  &__image {
    display: block;
  }
  &__project-link {
    @include absolute;
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
    @include flex($justify: flex-start, $align: flex-end);
    font-family: $heading-font-family;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    transition: all 300ms;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
  &__website-link {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 24px;
    color: $white;
    padding: 8px;
    border: 1px solid $white;
  }
  &__content {
    padding: 16px;
  }
  &__title {
    margin-bottom: 0;
  }
  &__links {
    width: 100%;
  }
}
