@use './variables.scss' as *;
@use './mixins.scss' as *;

.icon {
  &:after {
    display: inline-block;
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
  }
  &--arrow-long-right {
    @extend .icon;
    &:after {
      content: '\f178';
      padding-left: 0.25rem;
    }
  }
  &--linkedin {
    @extend .icon;
    &:after {
      font: var(--fa-font-brands);
      content: '\f0e1';
    }
  }
  &--github {
    @extend .icon;
    &:after {
      font: var(--fa-font-brands);
      content: '\f09b';
    }
  }
  &--instagram {
    @extend .icon;
    &:after {
      font: var(--fa-font-brands);
      content: '\f16d';
    }
  }
  &--paper-plane {
    @extend .icon;
    &:after {
      content: '\f1d8';
    }
  }
  &--up-right-from-square {
    @extend .icon;
    &:after {
      content: '\f35d';
    }
    // &--white {
    //   @extend .icon--up-right-from-square;
    //   &:after {
    //     color: $white;
    //   }
    // }
  }
  &--angle-right {
    @extend .icon;
    &:after {
      content: '\f105';
    }
  }
  &--book {
    @extend .icon;
    &:after {
      content: '\f02d';
    }
  }
}
