@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.section {
  position: relative;
  width: 100%;
  &__wrapper {
    width: 100%;
    max-width: $site-width-large;
    margin: auto;
    padding: 0 24px;
  }
  &__row {
    width: 100%;
    @include flex;
  }
  &__col {
    flex: 1;
  }
}

.header,
.footer {
  &__wrapper {
    @extend .section__wrapper;
  }
  &__row {
    @extend .section__row;
  }
  &__col {
    @extend .section__col;
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}

// ********************* FLEXBOX ********************** //
.flex {
  display: block;
  @include tablet-portrait-up {
    @include flex;
  }
  &--row-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: row-reverse);
    }
  }
  &--col {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column);
    }
  }
  &--col-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column-reverse);
    }
  }
}

// ********************* GRID ********************** //
// .grid {
//   @for $i from 1 through 5 {
//     &--#{$grid-space * $i} {
//       grid-template-columns: repeat(auto-fill, minmax($grid-space * $i, 1fr));
//       grid-template-rows: repeat(auto-fill, minmax($grid-space * $i, 1fr));
//     }
//   }
//   &--column {
//     grid-auto-flow: column;
//   }
// }

// ********************* LAYOUT MODIFIERS ********************** //
.padding {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          padding-#{$position}: $size;
        }
      }
    }
  }
}
.margin {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          margin-#{$position}: $size;
        }
      }
    }
  }
}
