@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

main {
  height: calc(100vh - 36px);
  width: 100%;
}

.header,
.section {
  &__wrapper {
    width: 100%;
    margin: auto;
    padding: 0 $spacing-24;
  }
}

.section {
  $self: &;
  &--fullscreen {
    @include fullscreen;
    padding: $spacing-24 0;
    #{$self}__wrapper,
    #{$self}__items {
      @include fullscreen;
    }
  }
  &__row {
    @include flex;
  }
  &__col {
    flex: 1;
  }
  &__items {
    @include clear-list;
    &--flex {
      @extend .section__items;
      @include flex;
    }
    &--grid {
      @extend .section__items;
      display: grid;
      gap: 30px;
    }
  }
  &__image {
    width: 100%;
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}

// Grid settings

.grid {
  @for $i from 1 through 5 {
    &--#{$grid-space * $i} {
      grid-template-columns: repeat(auto-fill, minmax($grid-space * $i, 1fr));
      grid-template-rows: repeat(auto-fill, minmax($grid-space * $i, 1fr));
    }
  }
  &--column {
    grid-auto-flow: column;
  }
}
