@use './variables.scss' as *;
@use './mixins.scss' as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: $site-width-large;
  margin: auto;
  padding: 0 30px;
}

main {
  padding: 95px 0 60px 0;
  @include tablet {
    padding: 71px 0 60px;
  }
}

.block {
  margin-bottom: $bottom-margin-large;
  &:first-of-type {
    padding-top: $bottom-margin-large;
    @include tablet {
      padding-top: $bottom-margin-large / 2;
    }
  }
  @include tablet {
    margin-bottom: $bottom-margin-large / 2;
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}
