@use './variables.scss' as *;
@use './mixins.scss' as *;
@use 'sass:math';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $white;
}

main {
  // padding-top: 75px;
}

.section {
  $self: &;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  border-bottom: $base-border;
  padding: 0 0 1rem 0;
  &--list {
    @extend .section;
    padding: 0;
    border-bottom: none;
  }
  &--medium {
    @extend .section;
    padding: 3rem 0;
  }
  &--large {
    @extend .section;
    padding: 10rem 0 1rem;
  }
  &__wrapper {
    width: 100%;
    max-width: $site-width-extra-large;
    margin-right: auto;
    padding: 0 32px;
  }
  &__row {
    width: 100%;
    @include flex($justify: flex-start);
    gap: 1rem;
    padding: 1rem 0;
  }
  &__col {
    width: 100%;
    max-width: 800px;
  }
  // &__content {
  //   max-width: 500px;
  //   margin: auto;
  // }
}

.header,
.footer {
  &__wrapper {
    @extend .section__wrapper;
  }
}

.visually-hidden,
.visually-hide-label,
.visually-hide-text {
  position: absolute;
  right: 999999999px;
  width: 0;
  height: 0;
  opacity: 0;
}

// ********************* FLEXBOX ********************** //
.flex {
  display: block;
  @include tablet-portrait-up {
    @include flex;
  }
  &--row-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: row-reverse);
    }
  }
  &--col {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column);
    }
  }
  &--col-reverse {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($dir: column-reverse);
    }
  }
  &--space-between {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: space-between);
    }
  }
  &--align-top {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($align: flex-start);
    }
  }
  &--justify-start {
    @extend .flex;
    @include tablet-portrait-up {
      @include flex($justify: flex-start);
    }
  }
}

// ********************* GRID ********************** //
// .grid {
//   @for $i from 1 through 5 {
//     &--#{$grid-space * $i} {
//       grid-template-columns: repeat(auto-fill, minmax($grid-space * $i, 1fr));
//       grid-template-rows: repeat(auto-fill, minmax($grid-space * $i, 1fr));
//     }
//   }
//   &--column {
//     grid-auto-flow: column;
//   }
// }

// ********************* LAYOUT MODIFIERS ********************** //
.padding {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          padding-#{$position}: $size;
        }
      }
    }
  }
}
.margin {
  @each $position in $positions {
    &--#{$position} {
      @each $size in $sizes {
        &-#{$size} {
          margin-#{$position}: $size;
        }
      }
    }
  }
}

// ********************* BORDER MODIFIERS ********************** //
.border {
  &--bottom {
    border-bottom: 4rem solid $black;
    &--none {
      border-bottom: none;
    }
  }
}
