@use './variables.scss' as *;
@use './mixins.scss' as *;

.list {
  @include clear-list;
  width: 100%;
  display: block;
  &__item {
    display: block;
    width: 100%;
    position: relative;
    border-bottom: $base-border;
    background: transparent;
  }

  &__content {
    padding: 24px 32px;
    width: 100%;
  }
  &__link {
    padding: 24px 32px;
    width: 100%;
    display: inherit;
  }
  // &__title {
  //   margin-bottom: 0;
  //   font-weight: 400;
  //   background: transparent;
  // }
  &__website-link {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
