@use './variables.scss' as *;
@use './mixins.scss' as *;

img {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: 100%;
  &__contain {
    @extend .image;
    object-fit: contain;
  }
  &__cover {
    @extend .image;
    object-fit: cover;
  }
}

.logo__image {
  max-width: 130px;
  @include tablet-portrait-up {
    max-width: 200px;
  }
}
