@use './variables.scss' as *;
@use './mixins.scss' as *;

.nav {
  &__list {
    @include clear-list;
  }
  &__item {
    display: inline-block;
    margin-left: 16px;
  }
  &__link {
    color: $black;
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
  }
}
