@use "./variables.scss" as *;

// Breakpoints
@mixin mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin big-desktop {
  @media (max-width: 1800px) {
    @content;
  }
}

// Styleguide
@mixin heading-style($font-size, $font-family, $font-weight) {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $heading-line-height;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

// Utility
@mixin link-style() {
  font-family: $base-font-family;
  letter-spacing: 0.155em;
  text-transform: uppercase;
}

@mixin image-cover() {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: none;
  }
}

@mixin clear-list() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin clear-btn() {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: auto;
  height: auto;
  padding: 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: transparent;
  border: none;
  color: $base-font-color;
  transform: translate(0);
  text-transform: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  &:before,
  &:after {
    content: none;
  }
}

@mixin aspect-ratio($width, $height) {
  // https://css-tricks.com/aspect-ratio-boxes/
  // calc(591.44 / 1127.34 * 100%);
  height: 0;
  padding-top: $height / $width * 100%;
}

@mixin flex($justify: center, $align: center, $dir: row, $wrap: wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin display-value($var) {
  &:after {
    content: '';
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    background-color: $var;
  }
}

// Button base
@mixin btn-base() {
  position: relative;
  display: inline-block;
  padding: 17px 8px 15px;
  min-width: 150px;
  text-align: center;
  font-family: $base-font-family;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  text-decoration: underline;
  color: $off-white;
  background-color: transparent;
  border: $base-border;
  border-radius: $btn-border-radius;
  transition: all $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

// Color Gradient:
@mixin pink-gradient {
  background: $light-pink;
  background: linear-gradient(90deg, $light-purple 0%, $light-pink 100%);
}

// Beer color swatch
@mixin beer-color($size: 30px) {
  position: absolute;
  top: -2px;
  right: -2px;
  width: $size;
  height: $size;
  border: $base-border;
}

@mixin fake-input-text {
  font-size: 14px;
  font-family: $base-font-family;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase;
}

@mixin focus {
  outline: $focus-outline;
  outline-offset: $focus-outline-offset;
}

@mixin top-card($color-size: 50px) {
  .color {
    @include beer-color($color-size);
  }
  .label {
    margin-bottom: $small-spacing;
  }
  .title {
    margin-bottom: $small-spacing;
  }
  .description {
    margin-bottom: $small-spacing * 2;
  }
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .stat h6 {
      margin-bottom: 0;
      @include tablet {
        font-size: 16px;
      }
    }
  }
}

@mixin close-button(
  $padding: 5px,
  $height: 24px,
  $width: 32px,
  $thickness: 4px
) {
  border: none;
  background: $white;
  padding: $padding;
  position: relative;
  overflow: hidden;
  .lines {
    display: block;
    position: relative;
    height: $height;
    width: $width;
    @include flex(center, center, column);
    transition: all 300ms;
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: $thickness;
      width: $width + 1;
      background: $black;
    }
    .line {
      display: block;
      width: 100%;
      height: $thickness;
      position: absolute;
      background: $black;
      transition: all 300ms;
      &:first-of-type {
        top: 0;
      }
      &:last-of-type {
        bottom: 0;
      }
    }
  }
  &.open {
    .lines {
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .line {
      transform: translateX(120%);
    }
  }
}

@mixin mobile-panels {
  display: none;
  position: fixed;
  width: 100%;
  height: calc(100% - 71px);
  top: 71px;
  right: 0;
  background: $white;
  z-index: 2;
  // border: $base-border;
  // transform: translateX(100%);
}

@mixin select {
  color: $black;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: $input-padding;
  max-width: 100%;
  box-sizing: border-box;
  border: $base-border;
  box-shadow: none;
  border-radius: $base-border-radius;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: url('../../assets/img/chevron-down.png');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 54%, 0 0;
  background-size: 12px auto, 100%;
}
