@use './variables.scss' as *;
@use './mixins.scss' as *;

html,
p,
.p,
p span {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  font-size: $mobile-font-size;
  -webkit-font-smoothing: antialiased;
  color: $black;
  @include tablet-portrait-up {
    font-size: $tablet-font-size;
  }
  @include desktop-up {
    font-size: $base-font-size;
  }
}

p {
  margin: 0 0 24px 0;
}

h1,
.h1 {
  @include heading-style(6rem);
  &--large {
    @include heading-style(12rem);
  }
}

h2,
.h2 {
  @include heading-style(5rem);
}

h3,
.h3 {
  @include heading-style(4rem);
}

h4,
.h4 {
  @include heading-style(3rem);
}

h5,
.h5 {
  @include heading-style(2rem);
}

h6,
.h6 {
  @include heading-style(1rem);
}

.link {
  color: $blue;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $red;
  }
}

.logo {
  color: $black;
  text-decoration: none;
  margin-bottom: 0;
  font-size: 32px;
}
