@use './variables.scss' as *;
@use './mixins.scss' as *;

html,
p,
.p,
p span {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  font-size: $mobile-font-size;
  -webkit-font-smoothing: antialiased;
  color: $black;
  @include tablet-portrait-up {
    font-size: $tablet-font-size;
  }
  @include desktop-up {
    font-size: $base-font-size;
  }
}

p {
  margin: 0 0 24px 0;
}

h1,
.h1 {
  @include heading-style(6rem);
  &--large {
    @include heading-style(12rem);
  }
}

h2,
.h2 {
  @include heading-style(5rem);
}

h3,
.h3 {
  @include heading-style(4rem);
}

h4,
.h4 {
  @include heading-style(3rem);
}

h5,
.h5 {
  @include heading-style(2rem);
}

h6,
.h6 {
  @include heading-style(1rem);
}

.link {
  color: $blue;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $red;
  }
  &--tag {
    text-decoration: none;
    padding: 8px 16px;
    color: $black;
    border-radius: 25px;
    line-height: 1;
    font-weight: 500;
    background: $grey--light;
  }
}

.logo {
  color: $black;
  text-decoration: none;
  margin-bottom: 0;
  font-size: 32px;
}

.ribbon {
  position: absolute;
  width: 200px;
  top: 32px;
  right: -50px;
  transform: rotate(45deg);
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  font-weight: 500;
  color: $black;
  // box-shadow: $box-shadow;
  border: $base-border;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
  }
  &--personal {
    @extend .ribbon;
    background-color: $rainbow--green;
    &:before {
      content: 'Personal Project';
    }
  }
  &--professional {
    @extend .ribbon;
    background-color: $rainbow--blue;
    &:before {
      content: 'Professional Project';
    }
  }
  &--case-study {
    @extend .ribbon;
    right: auto;
    left: -50px;
    transform: rotate(-45deg);
    background-color: $rainbow--pink;
    &:before {
      content: 'Case Study';
    }
  }
}
