@use "./variables.scss" as *;
@use "./mixins.scss" as *;

html,
p,
.p,
p span {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  @include tablet {
    font-size: $mobile-font-size;
  }
}

p {
  margin: 0 0 20px 0;
}

h1,
.h1 {
  @include heading-style(64px, $heading-font-family, 900);
  @include tablet {
    font-size: 36px;
  }
}

h2,
.h2 {
  @include heading-style(48px, $heading-font-family, 900);
  // letter-spacing: 0.02px;
  @include tablet {
    font-size: 34px;
  }
}

h3,
.h3 {
  @include heading-style(36px, $base-font-family, 300);
  @include tablet {
    font-size: 24px;
  }
}

h4,
.h4 {
  @include heading-style(24px, $base-font-family, 500);
  @include tablet {
    font-size: 18px;
  }
}

h5,
.h5 {
  @include heading-style(24px, $base-font-family, 400);
  text-transform: none;
  line-height: 32px;
  @include tablet {
    font-size: 16px;
  }
}

h6,
.h6 {
  @include heading-style(14px, $base-font-family, 500);
}

a,
.styled-btn {
  color: $black;
  transition: all $base-duration $base-timing;
  padding: 3px;
  background: transparent;
  line-height: 1;
  position: relative;
  display: block;
  overflow: hidden;
  border: none;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-101%);
    transition: all $base-duration $base-timing;
    background: $black;
    z-index: -1;
  }
  &:hover,
  &:focus {
    color: $off-white;
    &::before {
      transform: translateX(0%);
    }
  }
  &:focus {
    outline: $focus-outline;
    outline-offset: 1px;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $spacing-24 0;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
}
